


body {background-color: darkslategray;}
h1 {font-family: Arial, Helvetica, sans-serif;
color: black;
}

.k{align-self: center;}


/*.j {float: left; ;
  }
  

#hills{margin-left:5% ;
    }
/*#fj{
    float: left;;
}
#fj2{
    float: right;
    }

.j{box-shadow: 10px 10px 5px black;}



h2{font-family: Arial, Helvetica, sans-serif;
    color:blue;
}

.k{color: azure;}
li{color: bisque;}
